# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

# LaTeX intermediate files
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# Index
*.idx
*.ilg
*.ind

# Hyperref
*.brf

# Listings
*.lol

# Nomenclature
*.nlg
*.nlo
*.nls

# Others
*.nav
*.snm
*.vrb
*.xdy
*.tdo

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
